<h1 class="animated fadeIn fast">Search: <small>{{ search }} <small>({{characters.length}} results)</small></small></h1>
<hr>

<div *ngIf="characters.length===0" class="row">
  <div class="col-md-12">
    <div class="alert alert-info animated fadeIn" role="alert">
      No hay resultados
    </div>
  </div>
</div>

<div class="card-columns animated fadeIn">

  <app-character-card (selectedCharacter)="getCharacter($event)" [character]="character" [characterIndex]="character.idx" *ngFor="let character of characters; let i = index"></app-character-card>

</div>
