<h1 class="animated fadeIn fast">Search: <small>{{ search }} <small>({{characters.length}} results)</small></small></h1>
<hr>

<div *ngIf="characters.length===0" class="row">
  <div class="col-md-12">
    <div class="alert alert-info animated fadeIn" role="alert">
      No hay resultados
    </div>
  </div>
</div>

<div class="card-columns animated fadeIn">

  <div class="card" *ngFor="let char of characters; let i = index">
     <img class="card-img-top img-fluid" [src]="char.img" [alt]="char.name">
     <div class="card-block">
       <h4 class="card-title">{{ char.nombre }}</h4>
       <p class="card-text">{{ char.bio }}</p>
       <p class="card-text"><small class="text-muted">{{ char.appearing }}</small></p>
       <button (click)="getChar(i)" type="button" class="btn btn-outline-success btn-block">
         Ver más
       </button>
        <!--<a [routerLink]="['/character', i]" class="btn btn-outline-primary">Ver más...</a>-->
     </div>
  </div>

</div>
